.group_card {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color-dark);
}

.group_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}