.wrapper {
    margin: 24px;
    padding: 24px;
    max-width: fit-content;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.wrapper h2 {
    margin-bottom: 8px;
}

.wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    
}