.steps_footer {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.progress_circle_fill,
.progress_circle {
    width: 8px;
    height: 8px;
    border: 1px solid var(--accent-color-100);
    border-radius: 100%;
    transition: 500ms ease;
}

.progress-circle_fill {
    background: var(--accent-color-100);
}

.prev_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    color: var(--accent-color-100);
}

.next_button {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent-color-100);
    border: var(--accent-color-100);
    color: var(--primary-color-light);
    border-radius: 8px;
}

.disabled {
    background: var(--light-grey);
    border: var(--light-grey);
    color: var(--primary-color-dark-100);
}