.button {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--accent-color-100);
    background: var(--primary-color-light);
    color: var(--accent-color-100);
    font-weight: bold;
    outline: none;
    border-radius: 8px;
}