.align-text {
    text-align: center;
}

.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.flex-column  {
    display: flex;
    flex-direction: column;
}
.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.height-100 {
    max-height: 100dvh;
}